
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.jumbotron{
	height: 100%
	width:100%;
	text-align: center;
	background: url('images/stillpic.jpg');
	height:1100px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-top: 80px;
  margin: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


}

.display-4 {
	
	text-align: center;
	color: blue;
}

.btn {
	margin: 10px;
	font-family: 'Arvo', serif;
	font-size: 20px;
	color: #333;
	
	background: #F5F5DC;
}
.btn .btn-light .btn-lg {
	border-color: black;
}

h1	{ 
	font-family: 'Arvo', serif;
	color: #333333;
	text-align: center;
	


}

#verseDisplay {
	color: ##333333;
	font-size: 30px;
	background-color: #fff;
	line-height: 29px;
	transition-delay: .3;
	opacity: 0.7;
	font-family: 'Roboto', sans-serif;
	width: 60%;
	display: block;
	margin: 0 auto;

}

p {
	font-family: 'Roboto', sans-serif;
	color: #333333;
	font-size: 18px;
	


}

a {
	color: white;
	margin-top: 40px;
	padding-top: 40px;
	font-size: 15px;
}

.footer {
	color: white;
	margin-top: 20px;
	font-size: 15px;
}

body	{
	 background: #000;
	 margin: 0px;
}

.smalls	{
	
	color: #B1811A;
}

/*iphone 6 media query*/


@media screen and (max-width: 500px) {
	.display-4 { 
		
		font-size: 50px;
		text-align: center;
	


	}
	h1 .smalls {
		font-size: 50px;
		text-align: center;
	}
	#verseDisplay {
	
	font-size: 25px;

	line-height: 26px;
	}
	p {
		font-size: 18px;
	}

	.btn {
	padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
	}


#verseDisplay {
	color: ##333333;
	font-size: 30px;
	background-color: #fff;
	line-height: 29px;
	transition-delay: .3;
	opacity: 0.7;
	font-family: 'Roboto', sans-serif;
	width: 75%;
	display: block;
	margin: 0 auto;

}




}



@media screen and (max-width: 500px) {
	.display-4 { 
		font-size: 45px;
		text-align: center;
		

	}
	h1 .smalls {
		font-size: 45px;
		text-align: center;
	}
	#verseDisplay {
	
	font-size: 25px;

	line-height: 26px;
	}
	p {
		font-size: 14px;
	}

	.btn {
	padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
	}

	h1	{ 
	font-family: 'Arvo', serif;
	color: #333333;
	text-align: center;
	font-size: 45px;
	


	}

	.jumbotron {
	height: 100%
	width:100%;
	text-align: center;
	background: url('images/stillpic.jpg');
	height:1100px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-top: 80px;
  margin: 0px;
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
	

}















